@media (max-width: 400px) { .input-group { width: 260px; }
							.display-4 { font-size: 2.0rem; } }


@media (max-width:  290px) { .input-group { width: 190px; 

							} 
							}



footer p a { margin: 5px 15px; }


footer a:link { text-decoration: none;
				 }

#home { background-color: #ffc107;
		color: white;}


.caixa { padding: 60px 0;
		 border-bottom: 1px;
		 border: 1px solid #e5e5e5; }






